@tailwind base;
@tailwind utilities;
@tailwind components;
@import "variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-bg-light;
  color: #fff;
  a {
    color: #fff;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-accent {
  color: $color-accent;
}

.slider-arrows {
  display: flex;
  color: #fff;
  font-size: 25px;
  justify-content: flex-end;
  padding: 10px;
}

html, body, #root {
  height: 100%;
}

.h1 {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.subtitle {
  opacity: 0.75;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.swiper-button-next {
  width: 20px;
  height: 20px;
}

.swiper-button-disabled {
  opacity: .5;
}

.input {
  border: 1px solid #929292;
  background: transparent;
  border-radius: 30px;

}